<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
     <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <title> Bienvenido a nuestro Mercado Liebre </title>
  </head>
  <body>
    <header>
        <div class="logo"><img src="/static/images/logo-mercado-liebre.svg"  alt=""></div>
        <!-- Input search -->
        <div class="ml-15-search-bar">
         <input type="search" placeholder="Buscar productos, marcas.">
        </div>
        <!-- botón Lupa -->
        <button class="ml-15">
            <i class="fas fa-search"></i>
        </button>
        <p> <i class="fas fa-hand-holding-usd"> </i> Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
        <ul id="top-list">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="#">Creá tu cuenta <i class="fas fa-credit-card"></i> </a></li>
            <li><a href="#">Ingresá<i class="fas fa-sign-in-alt "></i> </a></li>
            <li><a href="#">Mis compras<i class="fas fa-shopping-basket "></i> </a></li>
        </ul>
    </nav>
        <!-- Menú hamburguesa -->
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <!-- BANNER -->
    <div class="banner"><img src="/static/images/img-home-banner.jpg" width="100%" alt=""></div>

    <main>
        <!-- INICIA SECCION ÚLTIMA VISITA -->
        <section>
            <h3> Basado en tu última visita </h3>
            <article class="card">
                <img src="/static/images/img-cafetera-moulinex.jpg"  width="100%" alt="Cafetera moulinex">
                <div class="card-content" >
                    <div class="truck"><i class="fas fa-truck"></i></div>
                <p> $6770 </p>
                <p> 40% off </p>
                <h4>Cafetera Moulinex</h4>
                </div>
              </article>
            <article class="card">
                <img  src="/static/images/img-macbook-pro-2019.jpg" width="100%" alt="Macbook Pro 2019">
                <div class="card-content">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                <p>$230.000</p>
                <p>20% off</p>
                <h4>Macbook Pro 2019</h4>
            </div>
            </article>
            <article class="card">
                <img  src="/static/images/img-samsung-galaxy-s10.jpg" width="100%" alt="Samsung Galaxy ">
                <div class="card-content">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Samsung Galaxy S10</h4>
            </div>               
            </article>
            <article class="card">
                <img  src="/static/images/img-tv-samsung-smart.jpg" width="100%" alt="SmartTV">
                <div class="card-content">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTV Samsung 43"</h4>
            </div>       
            </article>
        </section>
<!-- INICIA SECCIÓN OFERTAS -->
        <section>
            <h3>Ofertas</h3>
            <article class="card">
                <img src="/static/images/img-cafetera-moulinex.jpg"  width="100%" alt="Cafetera moulinex">
                <div class="card-content">
                    <div class="truck"><i class="fas fa-truck"></i></div>                  
                    <p>$6770</p>
                    <p>40% off</p>
                    <h4>Cafetera Moulinex</h4>
                </div>
            </article>

            <article class="card">
                <img src="/static/images/img-macbook-pro-2019.jpg" width="100%" alt="Macbook Pro 2019">
                <div class="card-content">
                    <div class="truck"><i class="fas fa-truck"></i></div>            
                   <p>$230.000</p>
                   <p>20% off</p>
                  <h4>Macbook Pro 2019</h4>
            </div>        
            </article>
            <article class="card">
                <img  src="/static/images/img-samsung-galaxy-s10.jpg"  width="100%" alt="Samsung">
            <div class="card-content">
                    <div class="truck"><i class="fas fa-truck"></i></div>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h4>Samsung Galaxy S10</h4>
            </div>            
            </article>
            <article class="card">
                <img  src="/static/images/img-tv-samsung-smart.jpg" width="100%" alt="SmartTV">
                <div class="card-content">
                    <div class="truck"><i class="fas fa-truck"></i></div>         
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h4>"SmartTV Samsung 43"</h4>
            </div>   
            </article>
        </section>
    </main>

    <footer>
        <div class="credit-card">
            <i class="fas fa-credit-card"></i>
            </div>
        <div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="gift">
            <i class="fas fa-gift"></i>
            </div>
        <div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="user-shield">
            <i class="fas fa-user-shield"></i>
            </div>
        <div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
